### exclude all
*

### include some folders (recursive):

!repo
!repo/**
!ds
!ds/**


### include some file extentions (root dir):
!*.md
!*.in
!*.cmake


### include specific files (root dir):
!.gitignore
!.gitmodules
!CMakeLists.txt