### exclude all
*

### include some folders (recursive):
!ds
!ds/**


### include some file extentions (root dir):
!*.md
!*.in
!*.cmake


### include specific files (root dir):
!.gitignore
!CMakeLists.txt